<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta name="author" content="Angelo Angel">
        <meta name="description" content="using node.js">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Lecture 8: Express and EJS Integration</title>
        <link rel="icon" href="../../Playground/Web development/styles/favicons/favicon-1.png" type="image/x-icon">
        <link rel="stylesheet" href="index.css">
        <script src="index.js" defer></script>
    </head>

    <body>
        <p>Welcome and Hello World!</p>
        <h1><%= message %></h1>
    </body>
</html>