<meta charset="utf-8">
<meta name="author" content="Angelo Angel">
<meta name="description" content="Learning how to code in HTML">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>EJS Practice</title>
<link rel="icon" href="../../../../Web development/styles/favicons/favicon-1.png" type="image/x-icon">