<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <% if (locals.aliases){ %>
            <ul>
                <% aliases.forEach(function(alias){ %>
                    <li>
                        <strong> <%= alias %> </strong>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>







    

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>