li {
    list-style-type: none;
}

form {
    width: 50%;
    background-color: green;
    box-sizing: border-box;
}

li:nth-child(1) {
    background-color: pink;
}

li:nth-child(2) {
    background-color: yellow;
}